# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.envs
!.env.example
!.envs/*.example

# Code coverage
coverage

# build folder
dist
build

# docker volume
data

# Others
.idea
.vscode

